<app-header></app-header>
<div id="layoutSidenav">
    <app-layout-sidenav-nav></app-layout-sidenav-nav>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Crear</h1>

                <form (ngSubmit)="onSubmit()" #gestionForm="ngForm">

                    <!-- <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Año</label>
                        <input type="number" id="anio" [(ngModel)]="newGestion.anio" class="form-control form-control-lg" name="anio" required="" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Fecha Inicio:</label>
                        <input type="date" id="anio" [(ngModel)]="newGestion.fechaIni" class="form-control form-control-lg" name="fechaIni" required="" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Fecha Inicio:</label>
                        <input type="date" id="fechaFin" [(ngModel)]="newGestion.fechaFin" class="form-control form-control-lg" name="fechaFin" required="" />
                    </div> -->
                    <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Seleccionar gestion</label>
                        <div *ngIf="ListaGestion.length === 0">Cargando lista</div>
                        <div *ngIf="ListaGestion.length > 0">
                            <select name="gestion" [(ngModel)]="guardar.gestion_id" class="form-control" required="" aria-placeholder="eleccionar">
                                <option *ngFor="let item of ListaGestion" [value]="item.id">{{ item.anio }}</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="form3Example3">Inicio de Clases</label>
                        <input type="date" id="inicio-clase" [(ngModel)]="guardar.inicio_clase" class="" name="inicio-clase" required="" />
                    </div>
                    <div>
                        <label for="form3Example3">Fin de Clases</label>
                        <input type="date" id="fin" [(ngModel)]="guardar.fin_clase" class="" name="fin" required="" />
                    </div>
                    <div>
                        <label for="form3Example3">Evaluacion 1</label>
                        <input type="date" id="eva1" [(ngModel)]="guardar.evaluacion1" class="" name="eva1" />
                    </div>
                    <div>
                        <label for="form3Example3">Evaluacion 2</label>
                        <input type="date" id="eva2" [(ngModel)]="guardar.evaluacion2" class="" name="eva2" />
                    </div>
                    <div>
                        <label for="form3Example3">Evaluacion 3</label>
                        <input type="date" id="eva3" [(ngModel)]="guardar.evaluacion3" class="" name="eva3" />
                    </div>


                    <!-- <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Inicio de Clases</label>
                        <input type="date" id="inicio-clase" [(ngModel)]="guardar.inicio_clase" class="form-control form-control-lg" name="inicio-clase" required="" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Fin de Clases</label>
                        <input type="date" id="fin" [(ngModel)]="guardar.fin_clase" class="form-control form-control-lg" name="fin" required="" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Evaluacion 1</label>
                        <input type="date" id="eva1" [(ngModel)]="guardar.evaluacion1" class="form-control form-control-lg" name="eva1" required="" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Evaluacion 2</label>
                        <input type="date" id="eva2" [(ngModel)]="guardar.evaluacion2" class="form-control form-control-lg" name="eva2" required="" />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-1">
                        <label class="form-label" for="form3Example3">Evaluacion 3</label>
                        <input type="date" id="eva3" [(ngModel)]="guardar.evaluacion3" class="form-control form-control-lg" name="eva3" required="" />
                    </div> -->


                    <button class="btn btn-primary px-4" type="submit" [disabled]="!gestionForm.form.valid">Agregar
                        Gestión</button>

                </form>
                <button class="btn btn-danger" type="submit" (click)="cancelar()">cancelar</button>

            </div>


        </main>
    </div>

</div>