<app-header></app-header>
<div id="layoutSidenav">
    <app-layout-sidenav-nav></app-layout-sidenav-nav>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Gestion</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>

                <button class="btn btn-primary" type="submit" (click)="crearVista()">Crear Gestion</button>



                <!-- <div *ngIf="estadoVista === 'crear'">
                    crear
                    <form (ngSubmit)="onSubmit()" #gestionForm="ngForm">

                        <div data-mdb-input-init class="form-outline mb-1">
                            <label class="form-label" for="form3Example3">Año</label>
                            <input type="number" id="anio" [(ngModel)]="newGestion.anio" class="form-control form-control-lg" name="anio" required="" />
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Fecha Inicio:</label>
                            <input type="date" id="anio" [(ngModel)]="newGestion.fechaIni" class="form-control form-control-lg" name="fechaIni" required="" />
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Fecha Inicio:</label>
                            <input type="date" id="fechaFin" [(ngModel)]="newGestion.fechaFin" class="form-control form-control-lg" name="fechaFin" required="" />
                        </div>


                    </form>
                    <button class="btn btn-primary" type="submit" (click)="cancelar()">cancelar</button>
                </div> -->

                <div *ngIf="data.length === 0">Cargando datos...</div>


                <div *ngIf="data.length > 0" class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Año</th>
                                <th>Fecha inicio</th>
                                <th>Fecha Final</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{item.id}}</td>
                                <td>{{item.anio}}</td>
                                <td>{{formatFecha(item.fechaIni)}}</td>
                                <td>{{formatFecha(item.fechaFin)}}</td>
                                <td>
                                    <button type="submit" (click)="editarVista(item)">editar Gestion</button>
                                    <button type="submit" (click)="eliminarVista(item)">eliminar Gestion</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>





        </main>
    </div>

</div>